registry=https://registry.npmjs.org/
@adragon:registry=https://vinsen.pkgs.visualstudio.com/ADragon/_packaging/adragon-feed/npm/registry/
//vinsen.pkgs.visualstudio.com/ADragon/_packaging/adragon-feed/npm/registry/:_authToken=${AZURE_ARTIFACTS_TOKEN}
always-auth=true